In [2]:
import pandas as pd

df_constructors=pd.read_json("constructors.json", lines = True)

In [12]:

df_constructors.isnull().values.any()

False

In [15]:
df_constructors.isnull().sum().sum()

0

In [16]:
df_constructors.shape

(211, 5)

In [18]:
df_constructors.to_csv('df_constructors.csv')

In [30]:
df_drivers=pd.read_csv("drivers.csv")

In [38]:
df_pit_stops=pd.read_csv("pit_stops.csv")

In [46]:
df_pit_stops.isnull().sum().sum()

0

In [51]:
df_1=pd.read_csv("lap_times_split_1.csv")
df_2=pd.read_csv("lap_times_split_2.csv")
df_3=pd.read_csv("lap_times_split_3.csv")
df_4=pd.read_csv("lap_times_split_4.csv")
df_5=pd.read_csv("lap_times_split_5.csv")

In [57]:
df_1.columns =['Name1', 'Name2', 'Name3', 'Name4','Name5','Name6'] 
df_2.columns =['Name1', 'Name2', 'Name3', 'Name4','Name5','Name6'] 
df_3.columns =['Name1', 'Name2', 'Name3', 'Name4','Name5','Name6'] 
df_4.columns =['Name1', 'Name2', 'Name3', 'Name4','Name5','Name6'] 
df_5.columns =['Name1', 'Name2', 'Name3', 'Name4','Name5','Name6']

In [126]:
lap_times_split=pd.concat([df_1, df_2, df_3,df_4,df_5], ignore_index=True)

In [127]:
lap_times_split

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3,Name1,Name2,Name3,Name4,Name5,Name6
0,5002.0,861.0,811.0,3.0,19.0,13.0,1:38.437,1:37.841,\N,NaN,NaN,NaN,NaN,NaN,NaN
1,5003.0,861.0,814.0,10.0,11.0,14.0,1:38.325,1:37.877,\N,NaN,NaN,NaN,NaN,NaN,NaN
2,5004.0,861.0,817.0,5.0,16.0,15.0,1:38.419,1:37.883,\N,NaN,NaN,NaN,NaN,NaN,NaN
3,5005.0,861.0,807.0,10.0,12.0,16.0,1:38.303,1:37.890,\N,NaN,NaN,NaN,NaN,NaN,NaN
4,5006.0,861.0,155.0,15.0,14.0,17.0,1:38.372,1:38.069,\N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1047.0,815.0,4.0,17.0,1:44.762,104762.0
394592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1047.0,815.0,5.0,16.0,1:43.786,103786.0
394593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1047.0,815.0,6.0,15.0,1:43.263,103263.0
394594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1047.0,815.0,7.0,15.0,1:45.123,105123.0
394595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1047.0,815.0,8.0,14.0,1:44.231,104231.0

In [65]:
lap_times_split.drop_duplicates()

        Name1  Name2  Name3  Name4     Name5   Name6
0         841     20      2      1  1:33.006   93006
1         841     20      3      1  1:32.713   92713
2         841     20      4      1  1:32.803   92803
3         841     20      5      1  1:32.342   92342
4         841     20      6      1  1:32.605   92605
...       ...    ...    ...    ...       ...     ...
490894   1047    815      4     17  1:44.762  104762
490895   1047    815      5     16  1:43.786  103786
490896   1047    815      6     15  1:43.263  103263
490897   1047    815      7     15  1:45.123  105123
490898   1047    815      8     14  1:44.231  104231

[490899 rows x 6 columns]

In [84]:
lap_times_split.to_csv('lap_times_split.csv')

In [134]:
qs1=pd.read_json("qualifying_split_1.json")
qs2=pd.read_json("qualifying_split_2.json")

In [135]:
qualifying_split=pd.concat([qs1,qs2], ignore_index=True)

In [136]:
qualifying_split

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
8689,8730,1047,8,51,7,16,1:37.555,\N,\N
8690,8731,1047,825,210,20,17,1:37.863,\N,\N
8691,8732,1047,847,3,63,18,1:38.045,\N,\N
8692,8733,1047,850,210,51,19,1:38.173,\N,\N
8693,8734,1047,849,3,6,20,1:38.443,\N,\N

In [137]:
qualifying_split.isnull().sum()

qualifyId        0
raceId           0
driverId         0
constructorId    0
number           0
position         0
q1               0
q2               0
q3               0
dtype: int64

In [144]:
qualifying_split=qualifying_split.replace('\\N','Sin Dato')

In [145]:
qualifying_split

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
8689,8730,1047,8,51,7,16,1:37.555,Sin Dato,Sin Dato
8690,8731,1047,825,210,20,17,1:37.863,Sin Dato,Sin Dato
8691,8732,1047,847,3,63,18,1:38.045,Sin Dato,Sin Dato
8692,8733,1047,850,210,51,19,1:38.173,Sin Dato,Sin Dato
8693,8734,1047,849,3,6,20,1:38.443,Sin Dato,Sin Dato

In [146]:
qualifying_split.to_csv('qualifying_split.csv')

In [3]:
results=pd.read_json("results.json",lines = True)

In [4]:
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,24961,1047,841,51,99,14,16,16,16,0.0,54,\N,\N,29,7,1:41.675,196.65,11
24956,24962,1047,849,3,6,18,17,17,17,0.0,54,\N,\N,49,16,1:42.497,195.073,11
24957,24963,1047,825,210,20,20,18,18,18,0.0,54,\N,\N,50,13,1:41.999,196.025,11
24958,24964,1047,850,210,51,17,19,19,19,0.0,53,\N,\N,50,8,1:41.707,196.588,12
24959,24965,1047,815,211,11,19,\N,R,20,0.0,8,\N,\N,6,19,1:43.263,193.625,7

In [5]:
results=results.replace('\\N','Sin Dato')

In [6]:
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,24961,1047,841,51,99,14,16,16,16,0.0,54,Sin Dato,Sin Dato,29,7,1:41.675,196.65,11
24956,24962,1047,849,3,6,18,17,17,17,0.0,54,Sin Dato,Sin Dato,49,16,1:42.497,195.073,11
24957,24963,1047,825,210,20,20,18,18,18,0.0,54,Sin Dato,Sin Dato,50,13,1:41.999,196.025,11
24958,24964,1047,850,210,51,17,19,19,19,0.0,53,Sin Dato,Sin Dato,50,8,1:41.707,196.588,12
24959,24965,1047,815,211,11,19,Sin Dato,R,20,0.0,8,Sin Dato,Sin Dato,6,19,1:43.263,193.625,7

In [7]:
results.to_csv('results.csv')

In [8]:
races=pd.read_csv("races.csv")

In [10]:
races.isnull().sum()

raceId       0
year         0
round        0
circuitId    0
name         0
date         0
time         0
url          0
dtype: int64

In [11]:
races=races.replace('\\N','Sin Dato')

In [20]:
df_constructors=pd.read_csv(".\Archivos en Csv\df_constructors.csv")

In [23]:
df_constructors.dtypes

Unnamed: 0         int64
constructorId      int64
constructorRef    object
name              object
nationality       object
url               object
dtype: object

In [24]:
drivers=pd.read_csv(".\Archivos en Csv\drivers.csv")

In [27]:
drivers=drivers.replace('\\N','Sin Dato')

In [29]:
drivers.to_csv('drivers.csv')

In [31]:
drivers

,driverId,driverRef,number,code,name/forename,name/surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,Sin Dato,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,Sin Dato,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
848,850,pietro_fittipaldi,51,FIT,Pietro,Fittipaldi,1996-06-25,Brazilian,http://en.wikipedia.org/wiki/Pietro_Fittipaldi
849,851,aitken,89,AIT,Jack,Aitken,1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,Sin Dato,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,Sin Dato,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,Sin Dato,SCH,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher

In [45]:
races=pd.read_csv("races.csv")

In [49]:
races

,Unnamed: 0,raceId,year,round,circuitId,name,date,time,url
0,0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
1053,1053,1069,2021,18,69,United States Grand Prix,2021-10-24,19:00:00,http://en.wikipedia.org/wiki/2021_United_State...
1054,1054,1070,2021,19,32,Mexico City Grand Prix,2021-10-31,19:00:00,http://en.wikipedia.org/wiki/2021_Mexican_Gran...
1055,1055,1071,2021,20,18,Brazilian Grand Prix,2021-11-07,17:00:00,http://en.wikipedia.org/wiki/2021_Brazilian_Gr...
1056,1056,1072,2021,22,77,Saudi Arabian Grand Prix,2021-12-05,16:00:00,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...
1057,1057,1073,2021,23,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...

In [47]:
races.dtypes

Unnamed: 0     int64
raceId         int64
year           int64
round          int64
circuitId      int64
name          object
date          object
time          object
url           object
dtype: object

In [70]:
results=pd.read_csv("results.csv")

In [75]:
results=results.replace('Sin Dato',0)

In [79]:
results['position'] = results['position'].astype('int64')

In [83]:
results.min()

C:\Users\Jorge\AppData\Local\Temp\ipykernel_22704\3022933592.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  results.min()

Unnamed: 0         0
resultId           1
raceId             1
driverId           1
constructorId      1
grid               0
position           1
positionText       1
positionOrder      1
points           0.0
laps               0
statusId           1
dtype: object

In [82]:
results['position']=results['position'].replace(0,33)

In [77]:
results

,Unnamed: 0,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,24955,24961,1047,841,51,99,14,16,16,16,0.0,54,0,0,29,7,1:41.675,196.65,11
24956,24956,24962,1047,849,3,6,18,17,17,17,0.0,54,0,0,49,16,1:42.497,195.073,11
24957,24957,24963,1047,825,210,20,20,18,18,18,0.0,54,0,0,50,13,1:41.999,196.025,11
24958,24958,24964,1047,850,210,51,17,19,19,19,0.0,53,0,0,50,8,1:41.707,196.588,12
24959,24959,24965,1047,815,211,11,19,0,R,20,0.0,8,0,0,6,19,1:43.263,193.625,7

In [72]:
results

,Unnamed: 0,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,24955,24961,1047,841,51,99,14,16,16,16,0.0,54,Sin Dato,Sin Dato,29,7,1:41.675,196.65,11
24956,24956,24962,1047,849,3,6,18,17,17,17,0.0,54,Sin Dato,Sin Dato,49,16,1:42.497,195.073,11
24957,24957,24963,1047,825,210,20,20,18,18,18,0.0,54,Sin Dato,Sin Dato,50,13,1:41.999,196.025,11
24958,24958,24964,1047,850,210,51,17,19,19,19,0.0,53,Sin Dato,Sin Dato,50,8,1:41.707,196.588,12
24959,24959,24965,1047,815,211,11,19,Sin Dato,R,20,0.0,8,Sin Dato,Sin Dato,6,19,1:43.263,193.625,7

In [68]:
results=results.replace('Sin Dato',"19")

In [84]:
results.to_csv('results.csv')

In [86]:
results

,Unnamed: 0,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,24955,24961,1047,841,51,99,14,16,16,16,0.0,54,0,0,29,7,1:41.675,196.65,11
24956,24956,24962,1047,849,3,6,18,17,17,17,0.0,54,0,0,49,16,1:42.497,195.073,11
24957,24957,24963,1047,825,210,20,20,18,18,18,0.0,54,0,0,50,13,1:41.999,196.025,11
24958,24958,24964,1047,850,210,51,17,19,19,19,0.0,53,0,0,50,8,1:41.707,196.588,12
24959,24959,24965,1047,815,211,11,19,33,R,20,0.0,8,0,0,6,19,1:43.263,193.625,7

In [87]:
results.dtypes

Unnamed: 0           int64
resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position             int64
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object